<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhouzhou.componentsfour">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMain"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityA">
            <intent-filter>
                <action android:name="com.zhouzhou.componentsfour.action.aa"/>
                <action android:name="com.zhouzhou.componentsfour.action.ab"/>
                <category android:name="com.zhouzhou.componentsfour.category.aa"/>
                <category android:name="com.zhouzhou.componentsfour.category.ab"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"
                    android:scheme="http"
                    android:host="www.baidu.com"/>
            </intent-filter>
        </activity>

        <activity android:name=".ActivityB"
            android:taskAffinity="com.zhouzhou.componentsfour.bc">
            <intent-filter>
                <action android:name="com.zhouzhou.componentsfour.action.ba"/>
                <action android:name="com.zhouzhou.componentsfour.action.bb"/>
                <category android:name="com.zhouzhou.componentsfour.category.ba"/>
                <category android:name="com.zhouzhou.componentsfour.category.bb"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ActivityC"
            android:taskAffinity="com.zhouzhou.componentsfour.bc"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.zhouzhou.activity.c" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityD"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.zhouzhou.activity.d" />
            </intent-filter>
        </activity>

    </application>

</manifest>